h1{
  font-size: 9vh;
}

h2{
  font-size: 7vh;
  font-style:oblique;
}

.bg-celeste {
  background-color: #A0D6FA;
}

.bg-coral {
  background-color: #FE6538;
}

main{
  margin:0 auto;
  max-width:1500px;
  background-color:#dedaca;
  align-content: center;
  padding-top:1rem;
}

.navbar-nav .nav-link {
  margin-right: 20px; 
}

.navbar {
  background-color: #FE6538;
  width:100%
}

